.title {font-family: 'Poiret One', cursive; font-size:60px; color: rgb(241, 111, 146)}

.subtitle {font-family: 'Poiret One', cursive; font-size:30px; color: rgb(244, 203, 195)}

.section1 {font-family: 'Raleway', sans-serif; font-size: 20px; color: rgb(243, 150, 160)}
